.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.main-heading {
  color: #1e293b;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 450;
  margin-bottom: 20px;
}

.congrats-container {
  height: 400px;
  width: 80vw;
  background-color: #cffafe;
  border-radius: 10px;
  background-size: cover;
  text-align: center;
  padding: 20px;
}

.profile-image {
  height: 80px;
  width: 60px;
  border-radius: 20px;
}

.profile-heading {
  font-family: "Roboto";
  font-weight: 400;
  color: #1e293b;
  font-size: 20px;
}
.profile-description {
  font-family: "Roboto";
  font-weight: 400;
  color: #1e293b;
  font-size: 15px;
}

.watch-image {
  height: 80px;
  width: 60px;
  border-radius: 20px;
}
